@use 'src/styles/functions' as *;
@use 'src/styles/mixins' as *;

.price-chart {
  &__info {
    display: flex;
    align-items: center;
    gap: px-to-rem(7);
  }

  &__change-percentage {
    font-size: px-to-rem(22);
  }

  &__price {
    font-size: px-to-rem(30);
  }

  &__toolbar {
    margin-top: px-to-rem(20);
    margin-bottom: px-to-rem(5);
    display: flex;
  }

  &__vs-currency {
    margin-left: auto;
    padding-right: px-to-rem(8);
  }
}
