:root {
  --neutral-color: #080F29;
  --surface-muted-color: #696F8C;
  --surface-shade-color: #B7B9C4;
  --surface-dim-color: #F3F4F6;
  --surface-color: #FFFFFF;

  --red-color: #CD0000;
  --green-color: #098C26;
  --blue-color: #2F7BCF;
  --gray-color: #494F6C;
}