@use 'src/styles/functions' as *;
@use 'src/styles/mixins' as *;

.price-calculator {
  width: 100%;
  margin-bottom: px-to-rem(24);

  h2 {
    display: none;

    @include breakpoint-up(large) {
      display: block;
    }
  }
}