@use 'src/styles/functions' as *;
@use 'src/styles/mixins' as *;

.crypto-card {
  display: flex;
  align-items: center;
  height: px-to-rem(62);
  margin-top: px-to-rem(14);
  padding: px-to-rem(14);
  border-radius: px-to-rem(12);
  background: var(--surface-dim-color);
  cursor: pointer;

  &__info {
    padding-left: px-to-rem(8);
  }

  &__icon {
    height: 100%;
  }

  &__symbol {
    color: var(--surface-muted-color);
  }

  &__price {
    margin-left: auto;
    text-align: right;
  }

  &__change-percentage,
  &__symbol {
    font-size: px-to-rem(14);
  }
}