@use './functions' as *;
@use './mixins' as *;

@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400;500&display=swap');
$font: 'Readex Pro', sans-serif;

h1,
h2,
h3 {
  color: var(--neutral-color);
  font-weight: 500;
  line-height: 1.1;
  margin-top: 0;
}

h1 {
  font-size: px-to-rem(26);

  @include breakpoint-up(large) {
    font-size: px-to-rem(34);
  }
}

h2 {
  font-size: px-to-rem(22);

  @include breakpoint-up(large) {
    font-size: px-to-rem(24);
  }
}

p {
  margin-top: 0;
}

a, a:visited, a:active {
  text-decoration: none;
}
