@use 'src/styles/functions' as *;
@use 'src/styles/mixins' as *;

.symbol-tag {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--surface-dim-color);
  border-radius: px-to-rem(6);

  padding: px-to-rem(3) px-to-rem(4);

  &__symbol {
    font-size: px-to-rem(16);
    color: var(--surface-muted-color);
    margin: 0;
  }
}
