@use '../../../styles/utils' as utils;

.symbol-tag {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--surface-dim-color);
  border-radius: utils.px-to-rem(6);

  padding: utils.px-to-rem(3) utils.px-to-rem(4);

  &__symbol {
    font-size: utils.px-to-rem(16);
    color: var(--surface-muted-color);
    margin: 0;
  }
}
