@use 'src/styles/functions' as *;
@use 'src/styles/mixins' as *;

.header {
  display: flex;
  align-items: center;
  height: px-to-rem(72);

  grid-column: 1 / -1;

  // Creating the bottom border:
  &::after {
    position:absolute;
    top: px-to-rem(72);
    left: 0;
    background: var(--surface-shade-color);
    width:100vw;
    height: 1px;
    content:"";
  }

  &__logo {
    width: px-to-rem(180);
  }
}