@use 'src/styles/functions' as *;
@use 'src/styles/mixins' as *;

.header {
  display: flex;
  align-items: center;
  height: px-to-rem(60);

  grid-column: 1 / -1;

  &__logo {
    width: px-to-rem(150);
  }

  // Creating the bottom border:
  &::after {
    position:absolute;
    top: px-to-rem(60);
    left: 0;
    background: var(--surface-shade-color);
    width:100vw;
    height: 1px;
    content:"";
  }

  @include breakpoint-up(large) {
    height: px-to-rem(72);

    &::after {
      top: px-to-rem(72);
    }

    &__logo {
      width: px-to-rem(180);
    }
  }
}