@use 'src/styles/functions' as *;
@use 'src/styles/mixins' as *;

.line-chart {
  height: px-to-rem(287);

  @include breakpoint-up(large) {
    height: px-to-rem(372);
  }
}

.tick {
  text {
    fill: var(--surface-muted-color);
    text-anchor: middle;
  }

  line {
    color: var(--surface-shade-color);
    width: px-to-rem(2);
  }
}

.domain {
  stroke: var(--surface-shade-color);
  stroke-width: px-to-rem(1);
}

.line-path {
  fill: none;
  stroke: var(--blue-color);
  stroke-width: px-to-rem(3);
  stroke-linejoin: round;
}
