@use 'src/styles/functions' as *;
@use 'src/styles/mixins' as *;

.line-chart {
  position: relative;
  height: px-to-rem(287);

  // Weird resizing bug???
  width: 99%;
  justify-self: center;

  &__tool-tip {
    display: none;
    box-sizing: border-box;
    background-color: var(--surface-color);
    padding: px-to-rem(10);
    border-radius: px-to-rem(6);
    box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.1);
  }

  @include breakpoint-up(large) {
    height: px-to-rem(372);
    width: 100%;
  }
}

.tick {
  text {
    fill: var(--surface-muted-color);
    text-anchor: middle;
  }

  line {
    color: var(--surface-shade-color);
    width: px-to-rem(2);
  }
}

.domain {
  stroke: var(--surface-shade-color);
  stroke-width: px-to-rem(1);
}

.line-path {
  fill: none;
  stroke: var(--blue-color);
  stroke-width: px-to-rem(2.75);
  stroke-linejoin: round;
}
