@use '../../styles/utils' as utils;

.crypto-heading {
  display: flex;
  align-items: center;
  gap: utils.px-to-rem(10);

  &__currency-icon {
    width: utils.px-to-rem(42);
  }

  &__currency-name {
    margin-bottom: 0;
  }
}
