@use '../../styles/functions' as *;

.crypto-heading {
  display: flex;
  align-items: center;
  gap: px-to-rem(10);

  &__currency-icon {
    width: px-to-rem(42);
  }

  &__currency-name {
    margin-bottom: 0;
  }
}
