@use '../../styles/functions' as *;
@use 'src/styles/mixins' as *;

.crypto-heading {
  display: flex;
  margin-block: px-to-rem(20);
  align-items: center;
  gap: px-to-rem(10);

  &__currency-icon {
    width: px-to-rem(42);
  }

  &__currency-name {
    margin-bottom: 0;
  }

  @include breakpoint-up(large) {
    margin-top: 0;
  }
}
