@use 'src/styles/functions' as *;
@use 'src/styles/mixins' as *;

.converter {
  width: 100%;
  height: px-to-rem(90);
  background-color: var(--surface-dim-color);
  padding: px-to-rem(14);
  border-radius: px-to-rem(12);

  &__input-container {
    display: flex;
    align-items:baseline;
    height: px-to-rem(34);
  }

  &__input,
  &__input:focus {
    width: 50%;
    padding: 0;
    font-size: px-to-rem(22);
    border: 0;
    background: none;
    outline: none;
  }

  &__input::placeholder {
    color: var(--surface-shade-color);
  }

  &__cryptocurrency-tag {
    display: flex;
    align-items: center;
    gap: px-to-rem(4);
    height: 100%;
    margin-left: auto;
    padding: px-to-rem(6);
    padding-right: px-to-rem(12);
    border-radius: px-to-rem(50);
    background-color: var(--surface-color);
  }

  &__cryptocurrency-icon {
    height: 100%;
  }
}

.total {
  display: flex;
  font-size: px-to-rem(22);
  color: var(--surface-muted-color);

  span {
    margin-left: auto;
  }
}